.Weather {
  border: 1px solid #6fd8e1;
  border-radius: 10px;
  font-family: fantasy;
  padding: 16px;
}

.Weather form {
  margin-bottom: 30px;
}

.Weather h1 {
  color: rgb(128, 52, 228);
  font-size: 35px;
  line-height: 29px;
  font-weight: 100;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: cornflowerblue;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: cornflowerblue;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -35px;
  margin-left: 5px;
}
