.Weather {
  border: 1px solid #8bf7f1;
  border-radius: 10px;
  box-shadow: 9px 9px 9px rgb(24, 138, 245);
  font-family: Monotype "Courier New", Courier, monospace;
  padding: 54px;
  background: radial-gradient(
    circle at 74.2% 50.9%,
    rgb(14, 72, 222) 5.2%,
    rgb(3, 22, 65) 75.3%
  );
  color: #2ae9e9;
}

.Weather form {
  margin-bottom: 30px;
}

.Weather h1 {
  color: rgb(128, 52, 228);
  text-shadow: 1px 1px 1px white;
  font-size: 50px;
  line-height: 29px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: cutsive;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: cornflowerblue;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather .unit {
  color: cornflowerblue;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -35px;
  margin-left: 5px;
}
